<div class="card">
    <div class="card-header">
        <strong>Add Product</strong>  
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="name">Product Name</label>
            <input type="text" id="name" class="form-control" placeholder="Enter Product Name" [(ngModel)]="product.name">
        </div>
         <div class="form-group">
              <label for="price">Price</label>
                <input type="number" id="price" class="form-control" placeholder="Enter Price" [(ngModel)]="product.price">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="text" id="image" class="form-control" placeholder="Paste the URL of image" [(ngModel)]="product.image">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" class="form-control" placeholder="Enter Product Description" [(ngModel)]="product.description" rows="3"></textarea>
            </div>
        
            <button class="btn btn-primary btn-block btn-sm" (click)="addProduct()">Add Product</button>
    </div>
</div>